@keyframes bg-spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.cookie-container {
  place-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr;
}

.cookie-image {
  z-index: 2;
  grid-area: 1 / 1 / 1;
  width: 200px;
  transition: transform 0.2s ease;
}

.cookie-image:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.cookie-image:active {
  transform: scale(1.05);
  transition: transform 0.05s ease;
}

.cookie-bg {
  z-index: 1;
  grid-area: 1 / 1 / 1;
  opacity: 0.5;
  width: 300px;
  filter: blur(2px);
}

@media (prefers-reduced-motion: no-preference) {
  .cookie-bg {
    animation: bg-spin 20s linear infinite;
  }
}
