html {
  background-color: #222;
  color: white;
  font-family: Arial, sans-serif;
}

#root {
  max-width: 50vw;
  margin: 0 auto;
  text-align: center;
}

section {
  margin: 2rem 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 2rem;
  background: #444;
}
